body {
    font-family: Arial;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

form {
    width: 350px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
}
